



.ai_conatiner {
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}


@media (max-width: 768px) {
    .ai_container {
        padding: 0 15px;
    }
}

@media (max-width: 480px) {
    .ai_container {
        padding: 0 10px;
    }
}
